services:
  - type: web
    name: shophub-backend
    env: node
    region: oregon
    plan: free
    branch: master
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    healthCheckPath: /api/health
    
    envVars:
      - key: NODE_ENV
        value: production
      
      - key: MONGODB_URI
        sync: false
      
      - key: PORT
        value: 10000
      
      - key: FRONTEND_URL
        sync: false
